.avatar-root {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: auto;
}


.avatar-container {
    position: absolute;
    object-fit: contain;
}


.avatar-container-placeholder {
    width: 100%;
    height: 100%;

    display: flex;
    text-align: center;
    align-items: center;
}


.avatar-container-placeholder-text {
    width: 100%;
    font-size: 4vw;
}
