.avatar-preview-root {
    width: 100%;
    height: 144px;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
}


.avatar-preview-container {
    position: absolute;
    display: flex;
    flex-direction: row;
}


.avatar-preview-cell {
    padding: 8px;
}
